    <header>
     {{> navigation}}
        <h1>Cat Shelter</h1>
    </header>
    <main>
        <form action="/cats/edit/{{cat._id}}" method="POST" class="cat-form" enctype="multipart/form-data">
            <h2>Edit Cat</h2>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{cat.name}}">
             <label for="price">Price</label>
            <input name="price" type="number" id="price" value="{{cat.price}}">
            <label for="description">Description</label>
            <textarea id="description" name="description">{{cat.description}}</textarea>
            <label for="image">Image</label>
            <input type="file" id="image" name="upload" placeholder="{{imageFilename}}">
            <figure>
                <figcaption>Current image</figcaption>
            <img src="{{cat.imageUrl}}" caption="Current image">
            </figure>
            <label for="group">Breed</label>
            <select id="group" name="breed">
                <option value="{{cat.breed}}">{{cat.breed}}</option>
                {{#each breeds}}
                {{> breed}}
                {{/each}}
            </select>
            <button type="submit">Edit Cat</button>
        </form>
    </main>
</body>

</html>